/* Define the custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.blinking-dots {
    display: inline-block;
    animation: blink 1s steps(5, end) infinite;
}

@keyframes blink {
    0%, 20% {
        opacity: 0;
    }

    40%, 60% {
        opacity: 1;
    }

    80%, 100% {
        opacity: 0;
    }
}

/*/ start dash board css /*/
.desktop-5,
.desktop-5 * {
    box-sizing: border-box;
}

.desktop-5 {
    background: #fbfcfc;
    height: 1024px;
    position: relative;
    overflow: hidden;
}

.global-header {
    background: #012a2d;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.safety-intelligence-assessment-insights {
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-utilities {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-21957 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.utility-item {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}

.notifications {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    overflow: visible;
}

.badge {
    border-radius: 100px;
    border-style: solid;
    border-color: var(--misc-white, #ffffff);
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 28px;
    top: 12px;
    overflow: hidden;
}

.dot-circle {
    background: var(--semantic-colors-error-main, #ff543e);
    border-radius: 50%;
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    position: relative;
}

.header-avatar {
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}

.avatar {
    background: var(--text-light-text-light-2nd, rgba(255, 255, 255, 0.6));
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.initials {
    color: var(--primary-green-primary-main, #003f2d);
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-switcher {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: relative;
}

.apps {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    overflow: visible;
}

.frame-1321315172 {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 526px;
    height: 865px;
    position: absolute;
    left: 24px;
    top: 133px;
    box-shadow: var( --elevation-elevation-12-dp-box-shadow, 0px 4px 10px 0px rgba(0, 0, 0, 0.2) );
    overflow: hidden;
}

.insight-card {
    background: var(--misc-white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--data-visualization-dv03, #17e88f);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 794px;
    min-width: 280px;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    position: relative;
}

.card-header {
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 100px;
    position: relative;
}

.hd-wallpaper-circuit-abstract-circuits-tech-technology-1 {
    border-radius: 8px 0px 0px 8px;
    flex-shrink: 0;
    height: 496px;
    position: absolute;
    right: -101px;
    left: 495px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
    object-fit: cover;
    aspect-ratio: 100/496;
}

.rectangle-9325 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient( 93.57deg, rgba(47, 71, 55, 0.6) 0%, rgba(105, 171, 156, 0) 73.12527298927307%, rgba(41, 90, 61, 0.54) 99.82627630233765% ), radial-gradient( closest-side, rgba(136, 80, 115, 0.21) 0%, rgba(136, 80, 115, 0.4) 100% );
    border-radius: 8px 8px 0px 0px;
    flex-shrink: 0;
    width: 494px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.content {
    padding: 12px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 495px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.frame-25355 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
}

.insight {
    color: var(--text-light-text-light, #ffffff);
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.date-time-stamp {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._23-jan {
    color: var(--text-light-text-light, #ffffff);
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rectangle-9323 {
    background: var(--accent-green-accent-green, #17e88f);
    flex-shrink: 0;
    width: 16px;
    height: 1px;
    position: relative;
}

.frame-25353 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-25286 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 409px;
    position: relative;
}

.safety-analysis {
    color: var(--text-light-text-light, #ffffff);
    text-align: left;
    font-size: var(--calibre-h4-headline-font-size, 34px);
    line-height: var(--calibre-h4-headline-line-height, 40px);
    letter-spacing: var(--calibre-h4-headline-letter-spacing, -0.01em);
    font-weight: var(--calibre-h4-headline-font-weight, 400);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.robot-2 {
    flex-shrink: 0;
    width: 31px;
    height: 30px;
    position: relative;
    overflow: visible;
}

.card-content {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 521px;
    position: relative;
    overflow-y: auto;
}

.magic-button {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
}

.based-on-the-data-available-provide-an-al-generated-summary-of-incidents-risks-observations-good-catches-precautionary-measures-taken-open-action-items-inspections-audits-etc {
    color: var(--text-dark, #1a1a1a);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.action {
    border-style: solid;
    border-color: #1c1c1c;
    border-width: 0px 0px 0px 3px;
    padding: 0px 0px 0px 12px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.label {
    color: #1c1c1c;
    text-align: left;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .label li {
        line-height: 1.5;
        font-style: italic;
    }

.label-span {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span2 {
    color: var(--data-visualization-dv06, #1c1c1c);
    list-style-type: decimal;
    padding-left: 1em;
    font-size: 14px;
    line-height: 16px);
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span3 {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span4 {
    color: var(--data-visualization-dv06, #1c1c1c);
    list-style-type: decimal;
    padding-left: 1em;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span5 {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span6 {
    color: #1c1c1c;
    list-style-type: decimal;
    padding-left: 1em;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span7 {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span8 {
    color: var(--data-visualization-dv06, #1c1c1c);
    list-style-type: decimal;
    padding-left: 1em;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.card-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.tags {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 24px;
    position: relative;
}

.chip {
    border-radius: 16px;
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: 124px;
    position: relative;
    overflow: hidden;
}

.content2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label2 {
    color: #1a1a1a;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chip2 {
    border-radius: 16px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label3 {
    color: #565656;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.label4 {
    color: #565656;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chip3 {
    border-radius: 16px;
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label5 {
    color: #565656;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.005em;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.action-bar {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    min-width: 274px;
    position: relative;
}

.status {
    background: #f5f7f7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.criticality {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.assignment {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.menu-button {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.button {
    padding: 5px 12px 5px 12px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.button-bg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}

.bg-box {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}

.icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.label6 {
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label7 {
    color: var(--primary-green-primary-main, #003f2d);
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-arrow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: auto;
    position: relative;
    overflow: visible;
}

.menu-arrow2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: auto;
    position: relative;
    overflow: visible;
}

.action-bar2 {
    border-style: dashed;
    border-color: #a388bf;
    border-width: 1px 0px 0px 0px;
    padding: 8px 0px 16px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-25186 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.icon-tooltip {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.person-check {
    flex-shrink: 0;
    width: 17.14px;
    height: 17.14px;
    position: relative;
    overflow: hidden;
}

.group-91 {
    width: 90.83%;
    height: 66.67%;
    position: absolute;
    right: 5%;
    left: 4.17%;
    bottom: 16.67%;
    top: 16.67%;
    overflow: visible;
}

.history {
    flex-shrink: 0;
    width: 17.14px;
    height: 17.14px;
    position: relative;
    overflow: visible;
}

.o-share {
    flex-shrink: 0;
    width: 17.14px;
    height: 17.14px;
    position: relative;
    overflow: visible;
}

.o-comment {
    flex-shrink: 0;
    width: 17.14px;
    height: 17.14px;
    position: relative;
    overflow: visible;
}

.o-open-in-new {
    flex-shrink: 0;
    width: 17.14px;
    height: 17.14px;
    position: relative;
    overflow: visible;
}

.frame-1321315173 {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 526px;
    height: 865px;
    position: absolute;
    left: 566px;
    top: 133px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.insight-card2 {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: #17e88f;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 794px;
    min-width: 280px;
    position: relative;
}

.header-container2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 96px;
    position: relative;
}

.card-header2 {
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 96px;
    position: relative;
}

.hd-wallpaper-circuit-abstract-circuits-tech-technology-12 {
    border-radius: 8px 0px 0px 8px;
    flex-shrink: 0;
    height: 496px;
    position: absolute;
    right: -97px;
    left: 495px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
    object-fit: cover;
    aspect-ratio: 96/496;
}

.rectangle-93252 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient( 93.57deg, rgba(47, 71, 55, 0.6) 0%, rgba(105, 171, 156, 0) 73.12527298927307%, rgba(41, 90, 61, 0.54) 99.82627630233765% ), radial-gradient( closest-side, rgba(136, 80, 115, 0.21) 0%, rgba(136, 80, 115, 0.4) 100% );
    border-radius: 8px 8px 0px 0px;
    flex-shrink: 0;
    width: 494px;
    height: 96px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.content3 {
    padding: 12px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 495px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.risk-analysis {
    color: var(--text-light-text-light, #ffffff);
    text-align: left;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.01em;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.magic-button2 {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
}

.frame-1321315170 {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 63, 45, 0.15);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 370px;
    height: 102px;
    position: relative;
}

.risk-register {
    color: #1a1a1a;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
    position: relative;
    width: 102px;
    height: 24px;
}

.data-summary-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.data-summary {
    background: #ffffff;
    border-radius: 4px;
    padding: 4px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.value-wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.trending-up {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: visible;
}

.number {
    color: #1a1a1a;
    text-align: left;
    font-size: 18px;
    letter-spacing: -0.01em;
    font-weight: 400;
    position: relative;
}

.high {
    color: rgba(26, 26, 26, 0.65);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}

.data-summary2 {
    background: #ffffff;
    border-radius: 4px;
    padding: 4px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.trending-flat {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: visible;
}

.medium {
    color: rgba(26, 26, 26, 0.65);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}

.data-summary3 {
    background: #ffffff;
    border-radius: 4px;
    padding: 4px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.trending-down {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    position: relative;
    overflow: visible;
}

.all-requests {
    color: rgba(26, 26, 26, 0.65);
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}

.card-content2 {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 572px;
    position: relative;
    overflow-y: auto;
}

.label-span9 {
    color: #1c1c1c;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span10 {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-style: italic;
}

.label-span11 {
    color: #1c1c1c;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-style: italic;
}

.label-span12 {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-style: italic;
}

.label-span13 {
    color: #1c1c1c;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
    font-style: italic;
}

.label-span14 {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span15 {
    color: #1c1c1c;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.label-span16 {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.frame-1321315174 {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
    height: 865px;
    position: absolute;
    left: 1108px;
    top: 133px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.frame-1321315209 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.page-header-list-page {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.list-page-header-base-default {
    background: #ffffff;
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-2608592 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
}

.title-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title-and-scope-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.title {
    color: #1a1a1a;
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    font-weight: 500;
    position: relative;
}

.frame-1321315204 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 272px;
    height: 274px;
    position: relative;
}

.frame-1321315201 {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 368px;
    height: 274px;
    position: relative;
}

.card-content3 {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: #e3e3e3;
    border-width: 1px;
    padding: 12px 20px 12px 20px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    row-gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 266px;
    position: relative;
    overflow: hidden
}

.frame-1321315196 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.frame-1321315195 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-25196 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-87 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    flex-shrink: 0;
    max-width: 180px;
    position: relative;
}

.frame-24102 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.reading {
    color: #1a1a1a;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 500;
    position: relative;
    width: 219px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.screenshot-2025-03-26-at-1-00-32-pm-1 {
    flex-shrink: 0;
    width: 240px;
    height: 173px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 240/173;
}

.frame-1321315186 {
    border-radius: 8px;
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 272px;
    height: 442px;
    position: relative;
}

.frame-1321315185 {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 365px;
    height: 442px;
    position: relative;
}

._8-am-visitor {
    background: #ffffff;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-color: #cbd1d3;
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

.details-container {
    border-style: solid;
    border-color: #ff9742;
    border-width: 0px 0px 0px 4px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.duration {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 141px;
    position: relative;
}

.hotel {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
}

.incident-rate {
    color: #393c3d;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-13213151732 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._124 {
    color: #1a1a1a;
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow-upward {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

._4-7 {
    color: #a03530;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.details-container2 {
    border-style: solid;
    border-color: #ff543e;
    border-width: 0px 0px 0px 4px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.details2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.duration2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.o-av-timer {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
}

.lost-time-injury-frequency-rate {
    color: var(--content-foundation-primary, #393c3d);
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-sender-notes {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-13213151733 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 125px;
    position: relative;
}

.arrow-upward2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

._8-am-reservation {
    background: #ffffff;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-color: #cbd1d3;
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

.calendar-month {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
}

.days-away-from-work-dafw {
    color: #393c3d;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow-upward3 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

._9-am-catering {
    background: #ffffff;
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-color: #cbd1d3;
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

.details-container3 {
    border-style: solid;
    border-color: #a03530;
    border-width: 0px 0px 0px 4px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.o-healing {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: visible;
}

.total-recordable-incident-rate-trir {
    color: #393c3d;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: 222px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow-upward4 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.frame-24882 {
    background: #ffffff;
    border-style: solid;
    border-color: #ededed;
    border-width: 0px 0px 1px 0px;
    padding: 17px 24px 17px 27px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 48px;
}

.frame-1321315205 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.site-address {
    color: var(--text-dark-text-dark, #1a1a1a);
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frame-24883 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 412px;
    height: 74px;
    position: relative;
}

.input-dropdown-outlined {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 48px;
    position: relative;
}

.field {
    background: #ffffff;
    border-radius: 4px;
    border-style: solid;
    border-color: #858c8e;
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.content4 {
    color: #393c3d;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-right {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.wrapper-label {
    padding: 0px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 0px;
    top: -8px;
}

.wrapper-field-label {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 49.15662705898285%, rgba(255, 255, 255, 1) 49.16662573814392%, rgba(255, 255, 255, 1) 69.66662406921387%, rgba(255, 255, 255, 0) 100% );
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.label8 {
    color: #666b6d;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.required {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

#messages {
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack messages vertically */
    height: 100%; /* Ensure the messages take full height */
}

.user-message {
    align-self: flex-start;
    background-color: #e1ffc7; /* Light green background for user messages */
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    max-width: 70%; /* Limit width of user messages */
    display: inline-block; /* Make it inline so it can float */
}

.bot-message {
    align-self: flex-end;
    background-color: #c7e1ff; /* Light blue background for bot messages */
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    max-width: 90%; /* Limit width of bot messages */
    display: inline-block; /* Make it inline so it can float */
}

#site_address,#ManualScoreChange {
    border: none;
    outline: none;
    width: 100%;
}

site_address:focus, ManualScoreChange:focus {
    border: none;
    outline: none; /* Optional: Remove outline */
}

#gauge_chart [y="164"], #gauge_chart [text-anchor="end"], #gauge_chart [text-anchor="start"] {
    display: none;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 100%;
    height: 100%;
    text-align: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: none !important; /* Changed background color */
    border: 2px solid #ccc !important;
    border-right: 0px !important;
    border-left: 0px !important;
    color: #003f2d !important; /* Kept the same */
    font-weight: 500; /* Kept the same */
}

.panel {
    display: none;
    background-color: white;
    transition: max-height 0.4s ease-out; /* Added transition for smoothness */
}

.icon-label {
    vertical-align: bottom;
}